* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
}
.MuiInput-underline:before,
.MuiInput-underline::after {
  border-bottom: 0 !important;
}
.MuiInput-underline {
  transform: translate(2px, 0px) scale(0.75) !important;
}
